<div class="container" id="services">
	<a name="services">Services</a>
	<div class="grid">
		<div class="cell">
			<img src="img/dl01.png" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor quam sit amet posuere pretium. Cras tortor nulla, ultricies ut. </p>
		</div>
		<div class="cell">
			<img src="img/dl01.png" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor quam sit amet posuere pretium. Cras tortor nulla, ultricies ut. </p>
		</div>
		<div class="cell">
			<img src="img/dl01.png" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor quam sit amet posuere pretium. Cras tortor nulla, ultricies ut. </p>
		</div>

	</div>
</div>